body {
    padding: 50px;
    font: 14px ‘Bookman Old Style’, serif;
    background-image: url("../images/film-22.jpg");
    background-size: cover;
}

a {
  color: #00B7FF;
}

h1{
    color: #000000;
    text-align: center;
    font-size: 2cm;
}
 
.rightButton{
    text-align : right;
}
